<%= form_with(model: @user, local: true) do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Create Account</h5>
              <form class="form-signin">
                <div class="form-label-group">
                  <%= f.label :First_name %><br />
                  <%= f.text_field :first_name, autofocus: true, class: "form-control", autocomplete: "firstname" %>
                </div>
                <div class="form-label-group">
                  <%= f.label :Last_name %><br />
                  <%= f.text_field :last_name, autofocus: true, class: "form-control", autocomplete: "lastname" %>
                </div>
                <div class="form-label-group">
                  <%= f.label :Email_Address %><br />
                  <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
                </div>
                <div class="form-label-group">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
                </div>
                <div class="form-label-group">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
                </div>
                <%= f.submit "Update", class: "btn mt-3 btn-md btn-primary btn-block text-uppercase"  %>
                <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>