<div class="container">
  <div class="card table-striped table-responsive">
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between mb-4'>
      <span>User List</span>
      <%= link_to 'New User', new_user_path, class: 'btn btn-primary text-white' %>
    </h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <th scope="row"><%= user.id %></th>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.is_admin ? 'Admin' : 'Regular' %></td>
            <td>
              <%= link_to user_path(user), class: 'btn btn-info btn-sm', title: 'View' do %>
                <i class='far fa-eye'></i>
              <% end %>
              <%= link_to edit_user_path(user), class: 'btn btn-success btn-sm', title: 'Edit' do %>
                <i class='far fa-edit'></i>
              <% end %>
              <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-dark btn-sm', title: 'Delete' do %>
                <i class='fas fa-trash'></i>
              <% end%>
              <%= link_to user_projects_path(user) , class: 'btn btn-info btn-sm', title: 'Projects' do %>
                <i class='fas fa-tasks'></i>
              <% end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>