<div class="container">
  <% 
    if current_user && current_user.is_admin
  %>
      <%= link_to 'Back', users_index_path, class: 'btn btn-outline-secondary btn-sm  mb-3' %>
  <%
    end
  %>
</div>
<%= form_with(model: @user, local: true) do |f| %>
  <% 
    if current_user && current_user.is_admin
  %>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Create New Account</h5>
              <form class="form-signin">
                <div class="form-label-group">
                  <%= f.label :First_name %><br />
                  <%= f.text_field :first_name, autofocus: true, class: "form-control", autocomplete: "firstname" %>
                </div>
                <div class="form-label-group">
                  <%= f.label :Last_name %><br />
                  <%= f.text_field :last_name, autofocus: true, class: "form-control", autocomplete: "lastname" %>
                </div>
                <div class="form-label-group">
                  <%= f.label :Email_Address %><br />
                  <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
                </div>
                <div class="form-label-group">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
                </div>
                <div class="form-label-group">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
                </div>
                <div class="text-center">
                    <%= f.submit "Create", class: "btn mt-3 btn-md btn-primary text-uppercase"  %>
                </div>
                <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%
    else
  %>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0 mb-5">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/images/login.jpg" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="mb-3">
                <img src="/images/logo.svg" alt="logo" heigth="60" width="60" class="logo">
              </div>
              <p class="login-card-description">Create your account</p>
              <form>
                  <div class="form-group">
                    <%= f.label :First_name %><br />
                    <%= f.text_field :first_name, autofocus: true, class: "form-control", autocomplete: "firstname" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :Last_name %><br />
                    <%= f.text_field :last_name, autofocus: true, class: "form-control", autocomplete: "lastname" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :Email_Address %><br />
                    <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
                  </div>
                  <div class="text-center">
                    <%= f.submit "Create", class: "btn mt-3 btn-md btn-block btn-primary text-uppercase"  %>
                  </div>
                  <hr class="my-4">
                </form>
                <p class="login-card-footer-text">Already have an account?  <%= link_to 'Sign in', new_user_session_path, class: 'text-decoration-none' %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <% end %>
<% end %>