<div class="container">
  <% 
    if current_user && current_user.is_admin
  %>
      <%= link_to 'Back', users_index_path, class: 'btn btn-outline-secondary btn-sm  mb-3' %>
  <%
    else
  %>
      <%= link_to 'Back', projects, class: 'btn btn-outline-secondary btn-sm  mb-3' %>
  <%
    end
  %>
</div>
<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <div class="row">
                        <div class="col-md-6">
                          <div class="row ml-1">
                            <h6>First Name:</h6>
                            <h6 class="text-white ml-3 text-capitalize"><%= @user.first_name %></h6>
                          </div>
                          <div class="row ml-1">
                            <h6>Last Name:</h6>
                            <h6 class="text-white ml-3 text-capitalize"><%= @user.last_name %></h6>
                          </div>
                          <div class="row ml-1">
                            <h6>Email:</h6>
                            <h6 class="text-white ml-3"><%= @user.email %></h6>
                          </div>
                          <div class="row ml-1">
                            <h6>Role:</h6>
                            <h6 class="text-white ml-3 text-capitalize"><%= @user.is_admin ? "Admin" : "Regular" %></h6>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            <h6 class="mt-2">Upload a different photo</h6>
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
                <span class="custom-file-control">Choose file</span>
            </label>
        </div>
    </div>
</div>