
<% 
 if current_user.is_admin 
    path = admin_project_path(params[:project_id])
  else 
    path = project_path(params[:project_id])
 end 
%>
<%= link_to 'Back', path, class: 'btn btn-outline-secondary btn-sm mb-3' %>
<div class="container">
  <div class="card table-striped table-responsive">
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between mb-4'>
      <span>Collaborators</span>
    </h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Persmissions</th>
          <th scope="col">Edit Persmissions</th>
        </tr>
      </thead>
      <tbody>
        <% @collaborators && @collaborators.each_with_index do |collaborator, i| %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= collaborator.user.first_name %></td>
            <td><%= collaborator.user.last_name %></td>
            <td><%= collaborator.user.email %></td>
            <td>
            <% if collaborator.col_has_permissions.any? %>
                <% collaborator.col_has_permissions && collaborator.col_has_permissions.each do |perms|%>
                    <%= perms.permission.name %>
                <% end %>
            <% else %>
                <%= "No Permissions Assigned Yet" %>
            <% end %>
           
            </td>
            <td>
              <%= link_to permissions_edit_path(id: collaborator.id), class: 'btn btn-success btn-sm', title: 'Edit', remote: true do %>
                <i class='far fa-edit'></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>