<% if mode == 'new'
  url_path = admin_project_create_path
else
  url_path = admin_project_update_path(project)
end %>
<%= form_with(model: project, url: url_path, local: true) do |form| %>
<%= form.hidden_field :user_id, value: user_id %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
   <div class="form-group">
    <%= form.label :uploads %>
    <%= form.file_field :uploads, multiple: true, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
