<nav class="navbar navbar-expand-md navbar-light bg-secondary mb-5">
      <a href="#" class="navbar-brand text-white">Awesome-PM</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ml-auto">
            <% if current_user && logged_in?%>
              <% if current_user.is_admin %>
                 <span class='text-white'>Welcom Admin</span>
              <% else %>
                <span class='text-white'>Welcome <%= current_user.first_name %></span>
              <% end %>
            <% end %>
          </div> 
          <% if logged_in? %>
            <div class="navbar-nav ml-auto">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-item nav-link text-white' %>
              <% if current_user.is_admin? %>
                <%= link_to 'My Projects', admin_projects_path, class: 'nav-item nav-link text-white' %>
              <% end %>
            </div> 
          <% else %>
            <div class="navbar-nav ml-auto">
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-item nav-link text-white' %>
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-item nav-link text-white' %>
            </div>
          <% end %>
      </div>
    </nav>